*{box-sizing: border-box;} 
 
body{
     background-color: #000;
     color: #000;
     display: grid;
     margin: auto;

     font-family:
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          Helvetica,
          Arial,
          sans-serif,
          "Apple Color Emoji",
          "Segoe UI Emoji",
          "Segoe UI Symbol",
          sans-serif;
     font-size: 16.5px;
     font-weight: 400; 
     -webkit-font-smoothing: antialiased;   
}
aside{
     position: absolute;
}
aside details summary img{
     filter: invert(1);
     width: auto;
     height: auto;
     max-width: 33vw;
     max-height: 33vh;
     width: 170px;
     object-fit: scale-down;
     transition: all 0.05s ease-in;
     position: relative;
     top: 4vh;
     left: 4vw;
}
aside details > img {
     width: 566px;
     bottom: 180px;
     left: 40px;
}
aside details[open] summary img{
     opacity: 0.5;
}
ul{
     padding: 0;
     margin: auto;
}
li{
     list-style: none;
     padding: 0;
     margin: auto;
}
article {
     display: grid;
     color: white;
}
article > ul > li {
     min-width: 100vw;
     min-height: 50vh;
     height: auto;
     display: grid; 
}

nav{
     display: grid;
}


aside details ul img
{
     width: 180px;
     max-width: 50vw;
}

nav ul
{
     display: grid;
     padding: 1ch 3ch;
     width: 80vw;
     margin-top:8vh;
     color: white;
}
.har {
     min-height: 100vh;
}
article p, article h2, article h3 {
     width: 40ch;
     margin: auto;
     max-width: 90vw;
}  
details{
     display: grid;
} 
details > img{
     max-width: 90vw;
     margin: auto;
}
article summary > img {
     margin: auto;
     max-width: 60vw;
     max-height: 50vh;
     object-fit: scale-down;
}
details{
     margin: auto;
}
.har details
{
     margin-top: 36vh;
     justify-content: center;
     align-content: center;
}
article details summary img {
     transition: all 0.05s ease-in;
}
details[open] img{
     transform: scale(0.9);
}
summary{
     cursor: pointer;
     margin: auto;
     list-style-image: none;
     outline: none;
     display: grid;
     width: 100vw;
}
summary::-webkit-details-marker {
     display: none;
}
summary::marker {
     display: none;
}
.har{
     background-color: #061F24;
     background-image: linear-gradient(180deg, #0E414B 0vh, #061F24 100vh);
}
.appkraft{
     background-color: #180302;
}
.littledisplay{
     background-image: linear-gradient(180deg, #1A264C 0vh, #0B1125 100vh);
}
.galerabusiness{
     background-image: url("img/galerabusinessbg.jpg");
     background-size: 1900px;
     background-position: center -180px;
}
details img{
     max-height: 80vh;
}
footer{
     max-width: 90vw;
     margin: auto;
     background-color:#FFF;
}

.button
{
margin: auto;
height: 44px;
background-color: #ccc;
border-radius: 100px;
padding:1ch;
width: 200px;
text-align: center;
}

.button:hover
{
     opacity:0.5;
}

@media only screen and (max-width: 430px){
     .galerabusiness{
          background-position: center -300px;
     }
}