*{box-sizing: border-box;}
body{
     font-family:
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          Helvetica,
          Arial, 
          sans-serif,
          "Apple Color Emoji",
          "Segoe UI Emoji",
          "Segoe UI Symbol",
          sans-serif;
     font-size: 16.5px;
     font-weight: 400; 
     -webkit-font-smoothing: antialiased;   

     display: grid;
     margin: auto;
     background-color: #050F1C;
     
}
header{
     position: absolute;
     padding: 5vmin 0 0 6vmin;
}
header img{
     filter: invert(1);
     width: 162px;
     object-fit:scale-down;
     max-width: 37vw;
     max-height: 32vh;
}
img{
     margin: auto;
     max-width: 100vw;
     max-height: 80vh;
}

article {
          display: grid;
          align-content: start;
          padding: 11vh 0;
}


/*********** DETAILS ***********/

details{
     margin: auto;
     display: grid;
     width: 100%;
}
details[open] summary img{
     transform: scale(0.95);
}
summary{
     cursor: pointer;
     margin: auto;
     list-style-image: none;
     outline: none;
     display: grid;
}
summary > img{
     max-height: 33vh;
     object-fit: scale-down;
}

/*********** CLASSES ***********/

.projectX{
     background-color: #082A31;
     background-image: linear-gradient(180deg, #0E414B 0vh, #061F24 100vh);
}
.projectA{
     background-color: #050F1C;
     min-height: 100vh;
     color: aliceblue;
     padding: 33vh 0;
}
.projectB{
     background-color: #BAE5F3;
}
.projectC{
     background-color: #F4F4F4;
}
.footer{
     background-color: #FDFEB7;
}

/*********** B O NUS (add @support assim que der) ***********/
summary::-webkit-details-marker{
     display: none;
}
summary::marker {
     display: none;
}
