/*
summary::-webkit-details-marker, summary::marker{
     display: none;
     margin: auto;
}
*/
*{box-sizing: border-box;}

body{
     font-family:
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          Helvetica,
          Arial, 
          sans-serif,
          "Apple Color Emoji",
          "Segoe UI Emoji",
          "Segoe UI Symbol",
          sans-serif;
     font-size: 16.5px;
     font-weight: 400; 
     -webkit-font-smoothing: antialiased;   

     display: grid;
     margin: auto;
     background-color: #050F1C;
     
}

article{
     display: grid;
     align-content: start;
     padding-top: 9vh;
     padding-bottom: 5vh;
}
h1{
     text-align: center;
     font-weight: bold;
     letter-spacing: 0.61px;

}
section p{
     text-align: center;
     margin: auto;
}
img,video{
     margin: auto;
     max-width: 100vw;
     max-height: 78vh;
}



details{
     margin: auto;
     text-align: center;
}
details[open] summary > img{
     transform: scale(0.95);
}

details[open] summary > span
{
     display: none;
}

summary{
     cursor: pointer;
     list-style-image: none;
     outline: none;
     transition: all 0.1s ease-in;
     display: grid;
}

summary:hover{
     filter: brightness(1.1);
}
summary > img{
     max-height: 33vh;
     object-fit: scale-down;
     grid-row-start: 1;
}
summary > span
{
     text-transform: uppercase;
     font-size: 0.8em;
     letter-spacing: 0.08em;
     
}



.article-neighborhoodExplorer{
     background-color: #082A31;
     background-image: linear-gradient(180deg, #0E414B 0vh, #061F24 70vh);
}
.article-appkraft{
     background-color: #040E1B;
     color: aliceblue;
/*     background-image: linear-gradient(180deg, #091829 0%, #040E1A 65%);*/
}
.article-galeraBusiness{
     background-color: #A2E7FF;
}
.article-bonusTrack{
     background-color: #e2e2e2;
/*     background-image: linear-gradient(180deg, #FFFFFF 0%, #F0F0F0 100%);*/
}
.article-gabrielRodrigues{
     background-color: #FDFEB7;
}



.gabrielRodrigues {
     position: absolute;
     background: none;
     border: none;
     cursor: pointer;
     margin: 3vh 0 0 3vw;
}
.gabrielRodrigues:hover{
     opacity: 0.8;
}
.gabrielRodrigues:active{
     opacity: 0.7;
     top: 1px;
}
.gabrielRodrigues img{
     filter: invert(1);
     width: 162px;
     object-fit:scale-down;
     max-width: 37vw;
     max-height: 32vh;
}



.gallery-appkraft{
     display: flex;
     overflow: auto;
     scroll-snap-type: mandatory;
}
.gallery-appkraft img{
     scroll-snap-align: center; 
}



.mansory {
     list-style: none;
     margin: auto;
     padding: 0;

     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     width: 100vw;
     
     text-align: center;

}
.mansory > * {
     flex: 1 1 20em;
     justify-self: center;
     align-self: center;
     justify-content: center;
     align-content: center;
     justify-items: center;
     align-items: center;
}
.mansory li {
     margin: auto;
}
.mansory img {
     max-width: 30vw;
     max-height: 80vh;
     width: auto;
     height: auto;
     margin: 10vh 2vw;
}



.har-rentals {
     color: white;
     max-width: 90vw;
     display: grid;

}
.har-rentals p{
     column-count: 2;
     text-align: left;
     max-width: 55ch;
}
.har-rentals > p{
          text-align: left;
          column-count: 2;
          max-width: 55ch;
          column-gap: 2vw;
          font-size: 22px;
          line-height: 29px;          
     }
.har-rentals em{
     display: block;
     font-size: 34px;
     line-height: 38px;
     font-style: normal;
     margin-bottom: 1ch;
}
.har-rentals a,
.har-rentals a:visited{
     color: green;        
}
.har-rentals img{
     width: auto;
     max-width: 100%;
     height: auto;
     margin: auto;
     padding: 4vh 0;
}
.har-rentals details{
     background-color: black;
     display: grid;
     padding: 1em;
     border-radius: 50px;
}
.har-rentals summary{
     font-size: 24px;
}
.har-rentals details > p {
     margin-top: 4vmax;
}



@media only screen and
(max-width: 600px){

     .har-rentals em{
          font-size: 24px;
          line-height: 28px;
     }
     
     .har-rentals p{
          font-size: 18px;
          line-height: 23px;
     }
     
    .har-rentals details p{
          font-size: 16px; 
          column-count: 2;
         column-gap: 0.6ch;
     }
     
}